

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.body-container
{
    background-image:url('../images/abstract-textured-backgound_1258-30436.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 89vh;
    width:100%;
    
}

.signup-container {
    width: 50%;
    position: fixed;
    box-sizing: border-box;
    height: 550px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 25px 0px grey;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    top: 16%;
    left: 25%;
    
}

.form-box {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 70%; 
}

.form-box .input-box label {
    color: #fff;
    font-size: 20px;
    width: 100px; 
    margin-right: 10px;
}

.form-box .input-box input {
    flex: 1; 
    height: 40px;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    box-shadow: 0px 0px 4px 0px white;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    width: 100%; 
}

input::placeholder {
    color: #fff;
}
.choose-image{

    outline: none !important;
    border: none !important;
    
}

.btn {
    margin-top: 20px; 
    text-align: center;
    margin-bottom: 20px;
}

.btn button {
    background-color: #011d3c;
    color: #fff;
    padding: 10px 5px;
    width:150px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 0px 4px 0px white;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.btn button:hover {
    background-color: #064d9f;
    transform: scale(1.1);
}